In [ ]:
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
string_var = "Hello, World!"
list_var = [1, 2, 3, 4, 5]
float_var = 3.14
tuple_var = (10, 20, 30)

In [ ]:
Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [7]:
var1 = " "
type_var1 = type(var1)  

var2 = "[ DS , ML , Python]"
type_var2 = type(var2)

var3 = [ "DS" , "ML" , "Python" ]
type_var3 = type(var3)

var4 = 1.
type_var4 = type(var4)

In [9]:
type_var1

str

In [10]:
type_var2

str

In [11]:
type_var3

list

In [12]:
type_var4

float

In [ ]:
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [14]:
division = 10 / 3
remainder = 10 % 3  
integer_division = 10 // 3 
exponential = 2 ** 3 
print(division, remainder, integer_division, exponential)

3.3333333333333335 1 3 8

In [ ]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [15]:
mixed_list = [1, "two", 3.0, [4, 5], "six", 7, 8.0, True, (9, 10), {'key': 'value'}]
for element in mixed_list:
    print(f"Element: {element}, Type: {type(element)}")

Element: 1, Type: <class 'int'>
Element: two, Type: <class 'str'>
Element: 3.0, Type: <class 'float'>
Element: [4, 5], Type: <class 'list'>
Element: six, Type: <class 'str'>
Element: 7, Type: <class 'int'>
Element: 8.0, Type: <class 'float'>
Element: True, Type: <class 'bool'>
Element: (9, 10), Type: <class 'tuple'>
Element: {'key': 'value'}, Type: <class 'dict'>

In [ ]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [16]:
A = 15
B = 3
count = 0

while A % B == 0:
    A /= B
    count += 1

print(f"A is divisible by B {count} times.")

A is divisible by B 1 times.

In [ ]:
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [17]:
int_list = [i for i in range(1, 26)]
for num in int_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [18]:
// Objects whose value or state can be changed after creation are called mutable. 
// Lists and dictionaries are examples of mutable data types.
mutable_list = [1, 2, 3]
mutable_list[0] = 100
print(mutable_list)
// Objects whose value or state cannot be changed after creation are called immutable. 
// Tuples and strings are examples of immutable data types.
immutable_tuple = (1, 2, 3)

SyntaxError: invalid syntax (624257758.py, line 1)